/* La Metodolgía usada es OOCSS que consiste en crear objetos generales para poder usarlos en varias partes*/
/* Definición de varaibles y cuerpo*/
:root{
    --color-lila:  #543372;
    --color-verde: #A2FF91;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

/*Definiciones de la cabecera*/
.cabecera{
    background-color: var(--color-lila);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

}

.lista-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.enlace-menu{
    text-decoration: none;
    color: unset;
    margin-left: 20px;
}

/*Definiciones del pie de página*/
.pie{
    background-color: var(--color-verde);
    padding-right: 5px;
    padding-left: 5px;

    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-derecha{
    text-align: right;
}

/*Definiciones generales

.cuerpo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85vh;
    padding: 0 10px;
    
}

section{
    width: 50%;
    padding: 2rem;
}

.imagen-G{
    width: 50vw;
}

.logo{
    width: 50px;
    height: 45px;
}

.titulo{
    font-size: 2rem;
    color: var(--color-lila);
}

.texto{
    font-size: 1.5rem;
    text-align: left;
}

.boton{
    color: var(--color-lila);
    background-color: var(--color-verde);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-color: var(--color-verde);
}