/* La Metodolgía usada es OOCSS que consiste en crear objetos generales para poder usarlos en varias partes*/

/* Definición de variables y cuerpo*/

:root {
    --color-lila: #543372;
    --color-verde: #A2FF91;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Definiciones de la cabecera*/

.cabecera {
    background-color: var(--color-lila);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    min-height: 50px;
    height: 7vh;
}

.navegador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.enlace-menu {
    text-decoration: none;
    color: unset;
    margin-left: 20px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Menu desplegable*/

.menu-movil{
    display: none;
}

.enlace-menu-movil {
    text-decoration: none;
    color: unset;
    margin-left: 20px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Definiciones del pie de página*/

.pie {
    background-color: var(--color-verde);
    padding: 0 5px;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pie-blanco{
    background-color: white;
    justify-content: space-evenly;
}

.contenedor-derecha {
    text-align: right;
}

.parrafo-pie {
    margin: 0;
}

/*Definiciones generales*/

.cuerpo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 83vh;
}

.cuerpo-columna {
    flex-direction: column;
    justify-content: unset;
}

.seccion-50 {
    width: 50%;
    padding: 0 2em;
}

.imagen-G {
    width: 40vw;
}
.imagen-M {
    width: 20vw;
}

.tabla {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid;
    border-color: var(--color-lila);
}

.logo {
    width: 3.5rem;
}

.titulo {
    font-size: 3em;
    text-align: center;
    color: var(--color-lila);
}

.texto {
    font-size: 1.5em;
    text-align: left;
}

.texto-P {
    font-size: 0.5em;
}

.boton {
    color: var(--color-lila);
    background-color: var(--color-verde);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-color: var(--color-verde);
    text-align: center;
}

.boton-Grande {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 1em;
}

.input-N {
    width: 100%;
    height: 25px;
    border-color: var(--color-verde);
}

.input-G {
    width: 40%;
    height: 50px;
    border-color: var(--color-verde);
}

textarea{
    width: 500px;
}

.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-color: var(--color-lila);
    width: 35%;
    padding: 0 10px;
}

.olvidar-contraseña {
    color: blue;
    text-align: center;
}

.contenedor {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-formulario {
    width: 30vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: unset;
}

.contenedor-cabecera {
    background-image: url("../img/campamento.png");
    background-size: 100vw;
    color: white;
    justify-content: center;
    margin: 0px;
}

.contenedor-busqueda {
    justify-content: space-around;
}

.captcha {
    border: 1px solid;
    border-color: var(--color-verde);
}

.contenedor-tabla {
    width: 100%;
    min-height: 30vw;
    ;
}

.contenedor-seccion {
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .cuerpo {
        flex-direction: column;
    }
    .seccion-50 {
        width: 75vw;
    }
    .registro {
        width: 75vw;
        font-size: 0.8rem;
    }
    html {
        width: 100vw;
    }
    .contenedor{
        flex-direction: column;
    }
    .contenedor-busqueda {
        flex-direction: column;
        display:inline-flex;
    }
    .contenedor-formulario{
        width: 90%;
    }
    .input-N{
        width:  100%;
    }
    .input-G{
        width: 80%;
        margin-bottom: 10px;
        
    }
    textarea{
        width: 250px;
    }
    .parrafo-pie {
        font-size: 0.8rem;
    }
    .enlace-menu {
        font-size: 0.70rem;
        padding: 4px 6px;
    }
    .lista-menu{
        padding: 0px;
    }
    .tabla {
        font-size: 0.8rem;
    }
    .imagen-G{
        width: 80vw;
        margin-top: 5px;
    }
    .imagen-M{
        width: 20vw;
    }
}

@media screen and (max-width: 500px){
    .enlace-menu{
        display: none;
    }
    .menu-movil{
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }
    .titulo{
        font-size: 2em;
    }
    .texto{
        font-size: 1em;
    }
}